body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color:hsl(205, 40%, 69%);
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
   background-color: rgb(248, 234, 234); color: rgb(255, 255, 255);
  }
  
  .cell {
    width: 100px;
    height: 100px;
    font-size: 24px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    border: 1px solid #ffffff;
    background-color: rgba(182, 102, 205, 0.945);
  }
  .result{
    margin-top: 20px;
    font-size: 1.5em;
    color: #f0f0f0;
    background-color: #44072e;
  }
  .cell:hover {
    background-color: #f0f0f0;
    border-radius: 0cap;
    border-color: rgb(255, 255, 255);
  }
  h1{
    color: #580043;
    text-align:start;
  }
  h2{
    color: #ffffff;
    font-size:large;
    align-items: start;
  }